*{
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;
}
/*************************************
     ** header related css start**
*************************************/

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    
}

.header-title{
    color: #272727;
    font-family:'Lato', sans-serif;
    font-size: 50px;
    margin: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.header-desc{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin: -85px 0px 0px 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary-header{
    color: white;
    background-color:#E55473;
    border: none;
    padding:20px 40px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 100px;

}
/*************************************
     ** header related css end**
*************************************/


.image-section-container{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;

}
.first-section>img{
    width: 270px;
    height: 380px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0px 30px;
    /* margin-right: -320px; */
    margin-right: 25px;
}
.second-section>img{
    width: 270px;
    height: 380px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0px 30px;
    margin-right: 25px;
}
.thard-section>img{
    width: 270px;
    height: 380px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0px 30px;
   

}
.featur-text{
    text-align: center;
    margin-top: 80px;
}
.featur-text>p{
    margin-bottom: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family:'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.featur-text>h2{
    color: #272727;
    text-align: center;
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.image-link{
    text-align: center;
    font-family: 'Lato';
    font-size: 24px; 
    margin-top: 15px;
    
}
.image-link>a{
    color: black;
}
.support-container{
    background-color: rgba(39, 39, 39, 0.05);
    text-align: center;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    margin:100px auto auto;
    
}
.support-content{
    justify-content: space-between;
    display: flex;
    padding: 70px 25px;
    margin: 50px;
}
.descount-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 50px 200px;
}
.descount-text-section{
    text-align: center;
}
.descount-text-section>h1{
    color: #272727;
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;

}
.descount-text-sectionp>p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
   
}

.btn-primary{
    color: white;
    background-color:#E55473;
    border: none;
    padding:20px 40px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 0px;
}
.insta-text{
    text-align: center;
    margin-top: 100px;
}
.insta-text>h2{
    color: #272727;
    text-align: center;
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 800;
}
.insta-text>p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}
.insta-container{
   
    justify-content: center;
}
.insta-image-section{
    text-align: center;
    
    
}
.insta-image-section img{
    margin-top: 30px;
    margin-right: 30px;
    
    
}


.subscribe-banner{
    width: 70%;
    margin: auto;
    height: 150px;
    background-image: url(img.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    margin-top: 70px;
    border-radius: 5px;
    
}
.subscribe-banner>input{
    width: 700px;
    height: 52px;
    padding: 0px 40px;
    border-color: #E55473;
    border-radius: 5px;
    font-size: 18px;
    margin: 70px 25px 2px 156px;
}
.subscribe-banner{
    padding: 100px;
}
.girl-section{
    width: 100%;
    height: 540px;
    background-image: url(images/bg-1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.girl-section-text{
    text-align: center;
   
    position: absolute;
    top: 130px;
    right: 250px;
}
.girl-section-text>p{
    width: 500px;
    color: white;
    font-family: 'lato';
    font-style: italic;
    font-size: 22px;
    line-height: 28px;
}
.girl-section-text img{
    margin-bottom: 30px;
}
.name{
    margin-top: 20px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 150px;
    margin-top: 50px;
}
.footer>h1{
    color: #ffffff;
    font-family: 'Lato';
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 800;

}
.footer span{
    color: #E55473;
}
.footer-desc{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

